# Configurações do InfluxDB
TOKEN_INFLUX=seu_token_aqui

# Configurações do Banco de Dados
MYSQL_ROOT_PASSWORD=sua_senha_aqui

# Configurações de Rede
IP_WINDOWS_BANCADA=0.0.0.0
PORTA_SSH=22

IP_CLP_OLMA=0.0.0.0